<div class="row">
  <div class="hero-image">

<div ng-include src="'/views/templates/mobile_navigation.html'">
</div>

<div ng-include src="'/views/templates/navigation.html'">
</div>
      <div class="marketing-text text-center">
        the last supper
      </div>
      
      <div class="row text-center">
      <button class="btn btn-lg block-button ">
        read more
      </button>
      </div>

      </div>
  </div>
</div>

<div class="row video-row">
<div class="col-md-1">
</div>
<div class="col-sm-6 col-md-5 text-center">
<video width="370" height="260" onclick="!this.play()" controls>
  <source src="../../video/galactica-trailer.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="col-sm-6 col-md-5">
  <div class="video-info">
  <h3> VIDEO: A Growing Number of Cylons are Feeling Misunderstood </h3>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit sit amet nisl nec semper. Aliquam erat volutpat. Mauris vitae augue non odio pellentesque mollis nec quis mi. Nullam at commodo nisi.
  </p>
  <p>
Maecenas nunc dolor, ullamcorper nec lobortis ac, pulvinar quis mauris. Morbi consequat purus vitae ex cursus imperdiet. Suspendisse id sapien eget ligula malesuada hendrerit.
</p>
  </div>

</div>
<div class="col-md-1">
</div>
</div>

<div class="row">
  <div class="ship-image">
  </div>
</div>

<div class="row news-row">
  
  <div class="col-md-1">
  </div>
    <div class="news-feed col-md-10">
      <div class="row">
        <div class="col-sm-4 news">
          <h4 class="category-title">
            in the news
          </h4>
        <div class="news-item">
          <h4>
            Cable TV Blackout in the Twelve Colonies
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 14, 2025
          </p>
        </div>
        <div class="news-item">
          <h4>
            Earth appears Not to be Where it was Before
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 25, 2025
          </p>
        </div>
        <div class="news-item">
          <h4>
            Cloud 9 Closed for Renovation
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 29, 2025
          </p>
        </div>
        </div>
        <div class="col-sm-4 events">
          <h4 class="category-title">
            event calendar
          </h4>
           <div class="event-item">
          <h4>
            Caprican Bake Sale
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 14, 2025
          </p>
        </div>
        <div class="event-item">
          <h4>
            Annual Sixes and Eights Mixer
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 25, 2025
          </p>
        </div>
        <div class="event-item">
          <h4>
            2025 Intergalactic Senior Citizens Dance Off
          </h4>
          <p>
            <img src="/images/calendar.svg"> Tuesday, September 29, 2025
          </p>
        </div>
        </div>
        <div class="col-sm-4">
                   <h4 class="category-title">
        so say we all
        </h4>
        <img class="salute-image" src="/images/Tyrol.jpg">
        <h4 class="image-caption">
        When is it appropriate to high-five a commander?
        </h4>
      </div>
      </div>
    </div>
  <div class="col-md-1">
  </div>
  </div>