<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="mobile-logo">
            <img src="http://placehold.it/200x50">
        </div>
    </div>
    <div class="collapse navbar-collapse-lg" collapse="navCollapsed">
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown="">
                <a href="#"  dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown">{{data.data[0].name}}              <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">{{data.data[0].children[0].name}}</a></li>
                    <li><a href="">{{data.data[0].children[1].name}}</a></li>
                    <li><a href="">{{data.data[0].children[2].name}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown="">
                <a href="#"  dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown">{{data.data[1].name}}               <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">{{data.data[1].children[0].name}}</a></li>
                    <li><a href="">{{data.data[1].children[1].name}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown" dropdown="">
                <a href="#"  dropdown-toggle="" class="dropdown-toggle" data-toggle="dropdown">{{data.data[2].name}}              <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown dropdown-submenu">
                        <a class="dropdown-toggle" ng-click="$event.stopPropagation()" data-toggle="dropdown" href="">{{data.data[2].children[0].name}}</a>
                        <ul class="dropdown-menu">
                            <li><a class="sub-menu-link" href="">{{data.data[2].children[0].children[0].name}}</a></li>
                            <li><a class="sub-menu-link" href="">{{data.data[2].children[0].children[1].name}}</a></li>
                        </ul>
                    </li>
                    <li><a href="">{{data.data[2].children[1].name}}</a></li>
                    <li><a href="">{{data.data[2].children[2].name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>