<div class="row navigation text-center">
  <div class="nav-items">
    <div class="logo">
      <img src="http://placehold.it/310x80">
    </div>
    <div class="nav-link">
      <li>
        <ul>
          <li>
            <a class="main-nav-drop" href="">{{data.data[0].name}}</a>
            <ul>
              <li><a href="">{{data.data[0].children[0].name}}</a></li>
              <li><a href="">{{data.data[0].children[1].name}}</a></li>
              <li><a href="">{{data.data[0].children[2].name}}</a></li>
            </ul>
          </li>
          <li>
          </ul>
        </li>
      </div>
      <div class="nav-link">
        <li>
          <ul>
            <li>
              <a class="main-nav-drop" href="">{{data.data[1].name}}</a>
              <ul>
                <li><a href="">{{data.data[1].children[0].name}}</a></li>
                <li><a href="">{{data.data[1].children[1].name}}</a></li>
              </ul>
            </li>
            <li>
            </ul>
          </li>
        </div>
        <div class="nav-link">
          <li>
            <ul>
              <li>
                <a class="main-nav-drop" href="">{{data.data[2].name}}</a>
                <ul>
                  <li>
                    <a href="">{{data.data[2].children[0].name}}</a>
                    <ul>
                      <li><a href="">{{data.data[2].children[0].children[0].name}}</a></li>
                      <li><a href="">{{data.data[2].children[0].children[1].name}}</a></li>
                    </ul>
                  </li>
                  <li><a href="">{{data.data[2].children[1].name}}</a></li>
                  <li><a href="">{{data.data[2].children[2].name}}</a></li>
                </ul>
              </li>
              <li>
              </ul>
            </li>
          </div>
        </div>
      </div>