<div class="row video-row">
<div class="col-md-1">
</div>
<div class="col-sm-6 col-md-5 text-center">
<video width="370" height="260" onclick="!this.play()" controls>
  <source src="../../video/galactica-trailer.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="col-sm-6 col-md-5">
  <div class="video-info">
  <h3> VIDEO: A Growing Number of Cylons are Feeling Misunderstood </h3>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit sit amet nisl nec semper. Aliquam erat volutpat. Mauris vitae augue non odio pellentesque mollis nec quis mi. Nullam at commodo nisi.
  </p>
  <p>
Maecenas nunc dolor, ullamcorper nec lobortis ac, pulvinar quis mauris. Morbi consequat purus vitae ex cursus imperdiet. Suspendisse id sapien eget ligula malesuada hendrerit.
</p>
  </div>

</div>
<div class="col-md-1">
</div>
</div>